body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1,2rem;
    margin: 0;
}
 

.header{
    background-color: azure;
    
}

.logo-nav-container{
    display: flex;
    align-items: center;
    justify-items: flex-start;
}
.header a{
    text-decoration: none;
    color: black;   
}

.navegation ul{
    margin: 0;
    padding: 0;
    list-style: none;
    justify-items: center;
    text-align: center;
    justify-content: center;
    
}

.navegation ul li{
    display: inline-block;
    justify-items: center;
    align-items: center;
}

.navegation ul li a{
    justify-items: center;
    align-items: center;
    display: block;
    padding: 5px 10px;
}

.navegation ul li a:hover{
    background: rgb(230, 230, 230);
    transition: all 0.4s linear;
    border-radius: 5px;
    justify-items: center;
    align-items: center;
}
